
.About-Section{
    width: 100%;
    /* flex: 0 0var(--ifm-col-width); */
    display: flex;
    justify-content: center;
    /* margin-top: 8rem; */
    padding: 4rem 1rem;
    box-sizing: border-box;
}

.container{
    width:100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}



.About-title{
    display: inline-block;
    background-color: transparent;
    /* padding: 2rem; */
    padding: clamp(1rem, 2.5vw, 2.5rem);
    border-radius: 12px;
    /* clip-path: inset(20px 20px 50px round 15px 0); */
    position: relative;
    /* font-weight: bold; */
    color: #333;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0);
    width: 70%;
    color: whitesmoke;
    /* height: 19rem; */
    margin-bottom: 2rem;
}
.Heading{
    /* font-size: 28px; */
    font-size: clamp(1.25rem, 2.5vw, 1.9rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: 500; */
    text-align: center;
    /* height: 50px; */
    margin: 0 0 0.75rem 0;
}
/* .About-title::before{
    content: "About";
    color: white;
    align-items: center;
    position: absolute;
    top: -40px;
    z-index: 1;
    left: 1rem;
    width: 7rem;
    height: 37px;
    background-color: transparent;
    border-radius: 7px 8px 0 0;
    font-weight: 750;
    box-shadow: 0px -2px 4px 0px rgb(0, 0, 0);
    padding-left: 43px;
    display: flex;
    border-right-width: thick;
} */

.About-para{
    font-weight: 400;
    margin: 0;
    color: #dcdcdc;
    line-height: 1.7;
    font-size: clamp(0.95rem, 1.6vw, 1.05rem);
    /* max-width: 88ch; */
    /* readable text flow on wide screens */
    text-align: left;
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .About-Section{
        padding: 2.5rem 1rem;
    }
    .About-title{
        padding: 1.25rem;
    }
    .About-para{
        font-size: 0.98rem;
        text-align: center;
    }
}


/* very small screens */
@media (max-width: 420px) {
    .About-Section{
        padding: 1.25rem 0.75rem;
    }
    .About-title{
        padding: 0.9rem;
    }
    .Heading{
        font-size: 1.1rem;
    }
    .About-para{
        font-size: 0.95rem;
    }
}



.About-para a {
    color: #ffd966;
    word-break: break-word;
}