.navbar{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #000000;
    z-index: 0;
}

.navbar-head{
    background-image: url("../img/head4-bg.jpeg");
    -webkit-text-fill-color: transparent;
    /* -webkit-background-clip: text; */
    background-clip: text;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links{
    display: flex;
    gap: 2rem;
}

.nav-dropdown{
    display: none;
}

.navbar-link{
    font-size: 1rem;
    background-color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}
.nav-top_line,
.nav-middle_line,
.nav-bottom_line{
    display: none;
}

.toggle{
    display: none;
}

.navbar-link:hover{
    background-color:  rgba(255, 255, 255, 0.1);
}
@media (max-width: 788px){
    .navbar{
        padding: 1rem;
        z-index: 1;
    }
    .navbar-head{
        font-size: 1.2rem;
    }
    .navbar-links{
        gap: 1rem;
    }

    .navbar-link{
        padding: 0.5rem;
    }

}
.nav-btn{
    cursor: pointer;
}
@media(max-width:500px){
    .toggle{
        display: block;
        position:absolute;
        height: 30px;
        width: 30px;
        top: 20px;
        right: 15px;
        z-index: 1;
        cursor: pointer;
        border-radius: 2px;
        background-color: gray;
        box-shadow: 0 0 10px(0,0,0,0.3);
    }
    .navbar-link{
        display: none;
        /* flex-basis: 10.33%; */
    }
    .toggle .common{
        position: absolute;
        height: 2px;
        width:20px;
        background-color: floralwhite;
        border-radius: 20px;
        transition: 0.3 ease;
    }
    .toggle .nav-top_line,
    .toggle .nav-middle_line,
    .toggle .nav-bottom_line{
        display: block;
    }


    .toggle .nav-top_line{
        top:30%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
    .toggle .nav-middle_line{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle .nav-bottom_line{
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar-links, .nav-dropdown{
    position: absolute;
    width: 13rem;
    height: 300px;
    right: 0px;
    top: 58px;
    display:none;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all 1s ease;
    background: black;
    z-index: 1;
    column-count: 5;
    column-gap: 20px;
    }
    .nav-link:hover{
        background-color: gray;
        transition: background 0.5s;
    }
}